---
---

@import "{{ site.theme }}";

.page-header { color: #fff; text-align: center; background-color: #159957; background-image: linear-gradient(120deg, #2c3e50, #159957); }

.header-title {
	color:#fff;
}
.header-title:hover {
	text-decoration: none;
}